body {
  font-family: Arial, sans-serif;
}

/* Nav */
header {
  background-color: #f0f0f0;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}


/* To-Do */
body {
  font-family: Arial, sans-serif;
}

ul {
    list-style: none;
}
input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    width: 50%;
}
button {
    padding: 0.5em;
    font-size: 1em;
    margin-left: 0.5em;
}

